<div class="actions">
<ul class="entries">
  <a class="entry" *ngFor="let comment of comments"
  >
    <span class="id">
      {{comment.id}}
      .
    </span>
    {{comment.author}}
  </a>
</ul>
  <button (click)="addComment()">
      Add Comment
  </button>
 <div *ngIf="selectedComment">
    <h3>
        {{ newComment.id }}
        .
       <input [(ngModel)]="newComment.author" placeholder="Author">
    </h3>
    <div>
       <textarea rows="4" cols="50"
       [(ngModel)]="newComment.post" placeholder="post">
       </textarea>
    </div>
    <button (click)="doneEditing()">
      Save
    </button>
  </div>
</div>
