<div class="actions">
 <div *ngIf="selectedEntry">
    <h3>
      Post
      {{ selectedEntry.id }}
      .
      <input [(ngModel)]="selectedEntry.title" placeholder="title">
    </h3>
    <div>
       <textarea rows="8" cols="90"
       [(ngModel)]="selectedEntry.post" placeholder="post">
       </textarea>
    </div>
    <button class="save"
    (click)="doneEditing()"
    routerLink="/blogs">
      Save
    </button>
     <button (click)="viewComments()">
      View Comments
    </button>
  </div>
  <div *ngIf="newComment">
    <h3>
      Comments:
    </h3>
    <app-comments>
    </app-comments>
  </div>
</div>
